* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    height: 80px;
    text-indent: 20px;
    /* text-align: justify -20px; */
    padding-top: 30px;
    padding-bottom: 10px;
}

ul{
    text-align: right;
    font-size: 20px;
}

li{
 display: inline;
 flex-direction: row;
 flex-wrap: wrap;
 font-style: none;
 padding: 0px 5px;
 margin-right: 20px;
 margin-left: 40px;
}

h1{
    font-size: 45px;
}

img {
    max-width:1573px;
    opacity: 50%; 
    text-overflow: initial;
}

p{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

li:hover{
    color: red;
}

header{
    /* font-size: larger; */
    /* background-color: transparent; */
}

.textimage{
    position: absolute;
    /* padding-bottom: 50px; */
    /* padding-right: 60px; */
    color: black;
}

.leftcolumn{
    float: left;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: rgb(93, 13, 167);
}

.content {
    /* display: inline-block; */
    margin-left: 300px;
    /* flex-wrap: wrap; */
    width: 75%;
    margin-top: 0px;
    /* text-decoration-color: black; */
    /* display: flexbox; */
    /* flex-wrap: wrap; */
/*         */
}

.aside-about-me {
    /* margin-left: 100px; */
    margin-top: 0px;
    height: 115px;
    padding-right: 10px;
    border-right: 5px solid black;
    font-size: 40px;
    text-indent: 20px;
    text-align: right;
    padding-top: 0px;
    margin-bottom: 30px;
   
}

.aside-my-work {
    /* margin-left: 100px; */
    margin-top: 0px;
    height: 600px;
    padding-right: 10px;
    border-right: 5px solid black;
    font-size: 40px;
    text-indent: 20px;
    text-align: right;
    padding-top: 0px;
    margin-bottom: 30px;
    margin-left: 50px;
   
}

.aside-contact-me {
    /* margin-left: 100px; */
    margin-top: 0px;
    height: 100px;
    padding-right: 10px;
    border-right: 5px solid black;
    font-size: 40px;
    text-indent: 20px;
    text-align: right;
    padding-top: 0px;
    margin-bottom: 30px;
   
}

#about-me{
    margin-top: 0px;
    text-align: left;
    height: 115px;
    margin-bottom: 30px;
    
}

section{
    display: flexbox;
    flex-wrap: wrap;

}

.my-work{
    display: inline-block;
    /* flex-wrap: wrap; */
    margin-top: 0px;
    text-align: left;
    height: 300px;
    margin-bottom: 30px;
    border: 7px solid rgb(17, 82, 11);
    width: 500px;
    /* margin-right: 20px; */
    min-width: 500px;
    margin-left: 50px;
    background-image: url("images/cheatsheet.png"); 
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-position: middle right;
    /* opacity: 70%; */
    font-size: 30px;

}

.my-miniproject {
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
    margin-top: 0px;
    height: 300px;
    margin-bottom: 30px;
    border: 7px solid rgb(17, 82, 11);
    width: 500px;
    min-width: 500px;
    background-image: url("images/refactor.png");
    background-repeat: no-repeat;
    /* opacity: 70%; */
    font-size: 30px;


}

.project {
    display: inline-block;
    height: 100px;
    margin-bottom: 30px;
    width: 500px;
    margin-left: 50px;
    border: 7px solid rgb(17, 82, 11);
    background-color: rgb(55, 82, 82);
    /* opacity: 70%; */
    font-size: 30px;
}

.project-other {
    display: inline-block;
    height: 100px;
    margin-bottom: 30px;
    width: 500px;
    margin-left: 50px;
    border: 7px solid rgb(17, 82, 11);
    background-color: rgb(45, 45, 77);
    /* opacity: 70%; */
    font-size: 30px;
    
}

.otherwork {
    display: inline-block;
    height: 100px;
    margin-bottom: 30px;
    width: 500px;
    margin-left: 50px;
    border: 7px solid rgb(17, 82, 11);
    background-color: rgb(99, 67, 67);
    /* opacity: 70%; */
    font-size: 30px;
    
}

.morework{
    display: inline-block;
    height: 100px;
    margin-bottom: 50px;
    width: 500px;
    margin-left: 50px;
    border: 7px solid rgb(17, 82, 11);
    background-color: rgb(96, 68, 93);
    /* opacity: 70%; */
    font-size: 30px;

}

.contactme{
    text-align: left;
    margin-top: 0px;
    font-style: black;
}

.my-work:hover{
    background-color: yellow;
}

